

.landingPageBody {
    position: sticky;
    background-color:  #212529;
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
    display: flex;
    margin: auto auto;

}
.landingPageBody span {
   color: #FD377E;
}
.first-text{
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 10px;
}
.landingPageBody-left {
    padding-top: 160px;
    width: 600px;
    margin-left: 25%;
    margin-right: 40px;

}
.landingPageBody-right {
    padding-top: 100px;
    margin-right: 250px;
}
.landingPage-svg {
    width: 450px;
}
.landingPageBody button {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0;
    width: 314px;
    height: 48px;
    background-color: #FD377E;
    color: white;
    border: none;
    border-radius: 8px;

}


@media screen and (max-width: 1100px) {
    .landingPageBody-right {
       display: none;
    }
  
  }
  
  @media screen and (max-width: 768px) {
   
    .landingPageBody-left {
        padding-top: 70px;
        margin-left: 18%;

    
    }
    .landingPageBody button {

        width: 200px;
    
    
    }


  }

  @media screen and (max-width: 320px) {
    .landingPageBody-left {

        width: 300px;
        margin-left: 19%;
        margin-right: 40px;
    
    }
    .landingPageBody button {

        width: 200px;
        height: 48px;

    
    }
}