.productsCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid rgb(230, 223, 223);
    border-radius: 8px;
    justify-content: space-around;
    margin-left: ;

}
.Transaction-description {
position: relative;
right: 20px;
bottom: 10px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
color: #212529;
}

.Transaction-type {  
position: relative;
right: 201px;
top: 35px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #5B6166;
}
.Transaction-value {

}