.Header {
    margin-left: 30px;
    margin-right: ;
display: flex;
flex-direction: row;
width: 599px;
}
.Header-button {
display: block;
margin-top: 10px;
margin-left: 59rem;

    height: 30px;
    width: 70px;
    border-radius: 8px;
    border: none;
    background-color: #FD377E;
    color: white;
}