.Header {
    margin-left: 30px;
    width: 599px;
    
}

.Header-button {

    margin-top: px;
    margin-left: 85vw;

    height: 30px;
    width: 64px;
    border-radius: 8px;
    border: none;
    background-color: #E9ECEF;
    color: #5B6166;
}
.Header h1 {
    margin-bottom: -20px;
}
    .Header span {
        color: #FD377E;
    }

    @media screen and (max-width: 320px) {

        .Header-button {
            margin-left: 150vw;
            
        }
      
      }